  .boxhotel {
      background: white;
      color: black;
      border-radius: 10px;
      padding: 5%;
      font-size: 140%;
      transition: transform .2s;
    }
    .boxhotel:hover{
        transform: scale(1.03);
    }

.hotel1{
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 80%;
}
.hotel2{
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 80%;
}
.hotel3{
    grid-column: 3;
    grid-row: 2;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 80%;
}
.hotel4{
    grid-column: 1;
    grid-row: 3;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 80%;
}
.hotel5{
    grid-column: 2;
    grid-row: 3;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 80%;
}
.hotel6{
    grid-column: 3;
    grid-row: 3;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 80%;
}
.hotelbild{
    border-radius: 5px 5px 0px 0px;
    padding:0px;
    margin:0px;

}
.hoteltext{
    border-top:2px solid rgb(89, 187, 194);
}
h4{
    margin:0;
    padding:0;
}




@media (max-width: 1000px) {
    .hotel1{
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 80%;
    margin: 2%;
}
.hotel2{
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 80%;
    margin: 2%;
}
.hotel3{
    grid-column: 1;
    grid-row: 3;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 80%;
    margin: 2%;
}
.hotel4{
    grid-column: 2;
    grid-row: 3;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 80%;
    margin: 2%;
}
.hotel5{
    grid-column: 1;
    grid-row: 4;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 80%;
    margin: 2%;
}
.hotel6{
    grid-column: 2;
    grid-row: 4;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 80%;
    margin: 2%;
}
.hotelbild{
    border-radius: 5px 5px 0px 0px;
    padding:0px;
    margin:0px;

}
.hoteltext{
    border-top:2px solid rgb(89, 187, 194);
    text-align: start;
    padding: 0% 5% 0% 5%;
}
h4{
    margin:0;
    padding:0;
}

}
