/* smalt fönster */
@media (max-width: 1000px) {
 .box-resa {
  background: white;
  color: black;
  border-radius: 10px;
  padding: 5%;
 
 }
 .article-grid{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
 }
 .article-resa1 {
  margin: 2% 1.5% 1.5% 3%;
  grid-column: 1;
  grid-row: 2;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 80%;
  padding: 0px;
 }
 .article-resa2 {
  margin: 2% 3% 1.5% 1.5%;
  grid-column: 2;
  grid-row: 2;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 80%;
  padding: 0px;
 }
 .article-resa3 {
  margin: 2% 1.5% 1.5% 3%;
  grid-column: 1;
  grid-row: 3;
  background-color:rgb(255, 255, 255);
  text-align: center;
  font-size: 80%;
  padding: 0px;
 }
 .article-resa4 {
  margin: 2% 3% 1.5% 1.5%;
  grid-column: 2;
  grid-row: 3;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 80%;
  padding: 0px;
 }
 .article-resa5 {
  margin: 2% 1.5% 1.5% 3%;
  grid-column: 1;
  grid-row: 4;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 80%;
  padding: 0px;
 }
 .article-resa6 {
  margin: 2% 3% 1.5% 1.5%;
  grid-column: 2;
  grid-row: 4;
  background-color:rgb(255, 255, 255);
  text-align: center;
  font-size: 80%;
  padding: 0px;
 }
 .article-resa7 {
  margin: 2% 1.5% 1.5% 3%;
  grid-column: 1;
  grid-row: 5;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 80%;
  padding: 0px;
 }
 .article-resa8 {
  margin: 2% 3% 1.5% 1.5%;
  grid-column: 2;
  grid-row: 5;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 80%;
  padding: 0px;
 }
 .article-resa9 {
  margin: 2% 1.5% 1.5% 3%;
  grid-column: 1;
  grid-row: 6;
  background-color:rgb(255, 255, 255);
  text-align: center;
  font-size: 80%;
  padding: 0px;
 }
 .resa-image {
  border-radius: 5px 5px 0px 0px; 
 }
 .resa-text1 {
  text-align: left;
  padding: 0% 3% 3% 3%;
  grid-column: 1;
  font-size: 80%;
 }
 .resa-text2 {
  text-align: right;
  padding: 0% 3% 3% 3%;
  grid-column: 2;
  font-size: 80%;
 }
 .resa-text3 {
  text-align: right;
  padding: 0% 10% 3% 3%;
  grid-column: 3;
  color: red;
  font-size: 80%;
 }
 
 .resa-button {
  background-color:red;
  color: white;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
 }
 .resa-button:hover {
  background-color: rgb(207, 83, 83);
  color: black;
 }
 .footer-resa {
  grid-column: 1/4;
  grid-row: 7;
  text-align: center;
 }
}

/* brett fönster*/
@media (min-width: 1000px) {
 .box-resa {
  background: white;
  color: black;
  border-radius: 5px;
  padding: 4%;
  transition: transform .2s; 
 }
 .box-resa:hover {
  transform: scale(1.03);
 }
 .article-grid{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
 }
 .article-resa1 {
  grid-column: 1;
  grid-row: 2;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 80%;
  padding: 0px;
 }
 .article-resa2 {
  grid-column: 2;
  grid-row: 2;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 80%;
  padding: 0px;
 }
 .article-resa3 {
  grid-column: 3;
  grid-row: 2;
  background-color:rgb(255, 255, 255);
  text-align: center;
  font-size: 80%;
  padding: 0px;
 }
 .article-resa4 {
  grid-column: 1;
  grid-row: 3;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 80%;
  padding: 0px;
 }
 .article-resa5 {
  grid-column: 2;
  grid-row: 3;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 80%;
  padding: 0px;
 }
 .article-resa6 {
  grid-column: 3;
  grid-row: 3;
  background-color:rgb(255, 255, 255);
  text-align: center;
  font-size: 80%;
  padding: 0px;
 }
 .article-resa7 {
  grid-column: 1;
  grid-row: 4;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 80%;
  padding: 0px;
 }
 .article-resa8 {
  grid-column: 2;
  grid-row: 4;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 80%;
  padding: 0px;
 }
 .article-resa9 {
  grid-column: 3;
  grid-row: 4;
  background-color:rgb(255, 255, 255);
  text-align: center;
  font-size: 80%;
  padding: 0px;
 }
 .resa-image {
  border-radius: 5px 5px 0px 0px; 
 }
 .resa-text1 {
  text-align: left;
  padding: 0% 3% 3% 3%;
  grid-column: 1;
 }
 .resa-text2 {
  text-align: right;
  padding: 0% 3% 3% 3%;
  grid-column: 2;
 }
 .resa-text3 {
  text-align: right;
  padding: 0% 10% 3% 3%;
  grid-column: 3;
  color: red;
 }
 .resa-button {
  background-color:red;
  color: white;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
 }
 .resa-button:hover {
  background-color: rgb(207, 83, 83);
  color: black;
 }
 .footer-resa {
  grid-column: 1/4;
  grid-row: 5;
  text-align: center;
 }
}




.zoom {
 padding: 50px;
 transition: transform .2s; /* Animation */
 width: 200px;
 height: 200px;
 margin: 0 auto;
}

.zoom:hover {
 transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
